<h1> <%= title %> </h1>

<ul>
  <% if(author_list.length > 0) { %>
    <% author_list.forEach(author => { %>
    <li>
      <a href=<%= author.url %>> <%= author.name %> </a>
      | ( 
      <% if(author.date_of_birth){ %>
        <%= author.date_of_birth_formatted %> 
      <% } %>
      -
      <% if(author.date_of_death){ %>
        <%= author.date_of_death_formatted %> 
      <% } %>
      )
    </li>
    <% }) %>
  <% } else { %>
    <li> There are no authors. </li>
  <% } %>
</ul>