<h1> <%= title %> </h1>
<ul>
  <% if(book_list.length > 0) { %>
    <% book_list.sort(function(a, b) { 
      let textA = a.title.toUpperCase() 
      let textB = b.title.toUpperCase() 
      return (textA < textB) ? -1 : (textA> textB) ? 1 : 0 
     }) %>
    <% book_list.forEach(book => { %>
      <li>
        <a href= <%= book.url %> > <%= book.title %> </a> | (<%= book.author.name %>) 
      </li>
    <% }) %>
  <% } else { %>
    <li> There are no books. </li>
  <% } %>
</ul>

