<h1><%= title %></h1>

<ul>
  <% if(genre_list.length > 0){ %>
    <% genre_list.forEach((genre) => { %>
      <li>
        <a href=<%= genre.url %>> <%= genre.name %> </a>
      </li>
    <% }) %>
  <% } else { %>
    <li>There are not genres listed</li>
  <% } %>

</ul>