<!-- h1 #{title}: #{author.name}
p= author.lifespan

if author_books.length

  p #[strong Delete the following books before attempting to delete this author.]

  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
    each book in author_books
      dt
        a(href=book.url) #{book.title}
      dd #{book.summary}

else -->
  <p> Do you really want to delete this Genre?</p>

  <form method='POST' action=''>
    <div class="form-group">
      <input id="genreid" class="form-control" type='hidden' name='genreid' required='true' value=<%= genre._id %> >
      <button class="btn btn-primary" type='submit'>Delete</button> 
    </div>
  </form>