<h1> <%= title %> </h1>
<p>
  Welcome to <em>Local library</em>, a very basic Express website developed as a tutorial example on the Mozilla
  Developer
  Network.
</p>

<h1> Dynamic content </h1>

<% if(error) {%>
  <p> Error getting dynamic content.</p>
<% } else {%>
  <p> The library has the following record counts:</p>
<% } %>

<ul>
  <li> <strong> Books:</strong> <%= data.book_count %>
  <li> <strong> Copies:</strong> <%= data.book_instance_count %>
  <li> <strong> Copies available:</strong> <%= data.book_instance_available_count %>
  <li> <strong> Authors:</strong> <%= data.author_count %>
  <li> <strong> Genres:</strong> <%= data.genre_count %>
</ul>
