<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'>

</head>

<body>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-2'>
        <ul class='sidebar-nav'>
          <li>
            <a href='/catalog'> Home </a>
          </li>
          <li>
            <a href='/catalog/books'> All books </a>
          </li>
          <li>
            <a href='/catalog/authors'> All authors</a>
          </li>
          <li>
            <a href='/catalog/genres'> All genres</a>
          </li>
          <li>
            <a href='/catalog/bookinstances'> All book-instances</a>
          </li>
          <li>
            <hr>
          </li>
          <li>
            <a href='/catalog/author/create'> Create new author</a>
          </li>
          <li>
            <a href='/catalog/genre/create'> Create new genre</a>
          </li>
          <li>
            <a href='/catalog/book/create'> Create new book</a>
          </li>
          <li>
            <a href='/catalog/bookinstance/create'> Create new book instance (copy)</a>
          </li>
        </ul>
      </div>
      <div class='col-sm-10'>
        <%- include(partial) %>
      </div>
    </div>
  </div>
</body>

</html>